<div class="container">
  <h1 class="main--title"><em>Chicago</em> Event Musicians</h1>
</div>

<div class="container container__flex">

  <main>
    <div class="main-block">
      [IMAGE]
    </div>

    <div class="main-block">
      <div class="video-container">
        [VIDEO]
      </div>
    </div>

    <%= simple_format(@copy) %>
  </main>

  <aside>
    <div class="aside-block">
      <%= render 'track_player', track: @track %>
    </div>

    <div class="aside-block">
      <%= render 'shows', shows: @shows %>
    </div>

    <div class="aside-block">
      <%= render 'social' %>
    </div>
  </aside>

</div>
