.header {
  position: relative;
  overflow: hidden;
  background: #333;
  padding-left: 20px;
  padding-right: 20px;
}

.header__small {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
}

.header--links {
  display: flex;
  align-items: center;
}

.header--link {
  margin-left: 20px;

  a {
    color: #fff;
    font-size: 16px;
  }
}
