#setting_copy {
  max-width: 800px;
  height: 200px;
}

#track {
  margin-bottom: 10px;
}

.uploading {
  font-size: 14px;
  padding: 10px 0;
}

.file-name {
  font-size: 14px;
  margin-bottom: 10px;
}

.thumb-preview {
  width: 120px;
  height: 120px;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}
