input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  border: solid 1px $gray-light;
  padding: 10px;
  font-size: 14px;
  width: 100%;
  max-width: 400px;
  height: 40px;

  &:focus {
    outline: 0;
    border: solid 1px #ccc;
  }
}

textarea {
  height: 100px;
}

select {
  height: 40px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
}

.checkbox {
  font-size: 14px;
}

.field {
  margin-bottom: 20px;
}

.button {
  border: 0;
  padding: 10px 20px;
  font-size: 14px;
  background: $pink;
  color: #fff;
  border-radius: 2px;
  text-decoration: none;

  &:hover {
    background: darken($pink, 10%);
    cursor: pointer;
    text-decoration: none;
  }

  &__margin-right {
    margin-right: 20px;
  }

  &[disabled] {
    background: $gray-light;
    cursor: not-allowed;
  }
}

.actions {
  padding-top: 20px;
  margin-bottom: 10px;

  a {
    margin-left: 10px;
    font-size: 14px;
  }
}

#show_venue_name {
  width: 300px;
}
